{
  "showsSourceDir": "./downloads/shows",
  "showsDestDir": "./shows",
  "moviesSourceDir": "./downloads/movies",
  "moviesDestDir": "./movies",
  "devMode": false,
  "skipFolders": ["sort", "incoming", "temp"]
}
